body {
    background-color: #82B1FF;
}

* {
    box-sizing: border-box;
}


/* label color */

.input-field label {
    color: ##0D47A1 !important;
    text-transform: uppercase;
    font-size: 15px;
}


/* label focus color */

.input-field input[type=text]:focus+label {
    color: ##0D47A1 !important;
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid ##0D47A1 !important;
    box-shadow: 0 1px 0 0 ##0D47A1 !important;
}


/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid ##0D47A1 !important;
    box-shadow: 0 1px 0 0 ##0D47A1 !important;
}


/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid ##0D47A1 !important;
    box-shadow: 0 1px 0 0 ##0D47A1 !important;
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: ##0D47A1 !important;
}

.submitbtn {
    background-color: #0D47A1;
}

.blue_title_card {
    padding: 2px !important;
    border: 4px solid #0D47A1 !important;
    width: 100%;
    background-color: #0D47A1;
    text-align: center;
    text-transform: capitalize;
    color: white;
}

.rnd_blue_title_card {
    padding: 2px !important;
    border: 4px solid #0D47A1 !important;
    width: 100%;
    background-color: #0D47A1;
    border-radius: 25px;
    text-align: center;
    text-transform: capitalize;
    color: white;
}

.lightblue_title_card {
    padding: 2px !important;
    border: 4px solid #82B1FF !important;
    width: 100%;
    background-color: #82B1FF;
    border-radius: 25px;
    text-align: center;
    text-transform: capitalize;
}

.red_title_card {
    padding: 2px !important;
    border: 4px solid #0D47A1 !important;
    width: 100%;
    background-color: red;
    text-align: center;
    text-transform: capitalize;
}

.white_input_field {
    padding: 2px !important;
    border: 4px solid #0D47A1 !important;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    text-transform: capitalize;
    height: 105px !important;
}

.white_textbox_field {
    padding: 2px !important;
    border: 4px solid #0D47A1 !important;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    text-transform: capitalize;
    height: 150px !important;
}

.no_margin {
    margin: 0 !important;
}

.sml_border {
    border: 5px solid #0D47A1 !important;
}

.img_details {
    width: 20vw;
    border: 4px solid #0D47A1 !important;
    border-radius: 25px;
}