<!DOCTYPE html>
<html>

<head>
    <!--    Import Google Fonts     -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--    Import materialize.css  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--    My CSS Code     -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css')}}" type="text/css">
    <!--    Let browser know website is optimized for mobile    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
    <nav>
        <!--    Nav Bar at the top of the window     -->
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content blue-text text-accent-1">
            <li class="blue-text text-darken-4" disabled>Difficulty</li>
            {% for diff in listdifficulty %}
            <li> <a href="#!" class="blue-text text-darken-4">{{ diff.difficulty_name }}</a></li>
            {% endfor %}
            <li class="divider"></li>
        </ul>
        <nav>
            <div class="nav-wrapper blue darken-4">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
                <a href="{{ url_for('view_recipes') }}" class="brand-logo blue-text text-accent-1">R E C I P E S</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('view_recipes') }}" class="blue-text text-accent-1"><i class="material-icons left blue-text text-accent-1">local_dining</i>View All Recipes</a></li>
                    <li><a href="{{ url_for('add_recipe') }}" class="blue-text text-accent-1"><i class="material-icons left blue-text text-accent-1">add</i>Add Recipe</a></li>
                </ul>
            </div>
        </nav>
        <div class="nav-wrapper blue darken-4">
            <form action="{{ url_for('find_recipes') }}" method="POST">
                <div class="input-field search-bar">
                    <input id="search_field" type="search" required="" name="search_field">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
                <button class="btn submit_btn" type="submit">Go Find Recipes</button>
            </form>
            </ul>
            <!--    Side Loading Nav Bar Main Code  -->
            <ul id="slide-out" class="side-nav blue darken-4">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="{{ url_for('static', filename='images/foodcard.jpg')}}">
                        </div>
                        <span class="white-text name center">REFRESHING</span>
                        <span class="white-text name center">EDIBLE</span>
                        <span class="white-text name center">CUISINE</span>
                        <span class="white-text name center">IN</span>
                        <span class="white-text name center">PORTABLE</span>
                        <span class="white-text name center">EXTERNAL</span>
                        <span class="white-text name center">SUPPORT</span>
                    </div>
                </li>
                <li><a href="{{ url_for('view_recipes') }}" class="waves-effect blue-text text-accent-1"><i class="material-icons left blue-text text-accent-1">local_dining</i>View All Recipes</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-button blue-text text-accent-1" href="#!" data-activates="dropdown1">Quick Searches<i class="material-icons left blue-text text-accent-1">arrow_drop_down</i></a></li>
                <li><a href="{{ url_for('add_recipe') }}" class="waves-effect blue-text text-accent-1"><i class="material-icons left blue-text text-accent-1">add</i>Add Recipe</a></li>
                <li>
                    <div class="divider"></div>
                </li>
                <form action="{{ url_for('find_recipes') }}" method="POST">
                    <div class="input-field search-bar">
                        <input id="search_field" type="search" required="" name="search_field">
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                    <button class="btn submit_btn" type="submit">Go Find Recipes</button>
                </form>
                <li><a class="subheader white-text name center">Check out how its build at:</a></li>
                <li><a class="blue-text text-accent-1 center" href="https://github.com/jjackson19862017">My GitHub</a></li>
                <li><a class="blue-text text-accent-1 center" href="https://github.com/jjackson19862017/Milestone4_Recipes">Recipes Repo</a></li>
            </ul>
        </div>

    </nav>
    <!--    Header bar for each template html    -->
    <div class="row">
        <div class="card medium">
            <div class="card-image">
                <img src="{{ url_for('static', filename='images/foodcard.jpg')}}">
                <span class="card-title blue_title_card">{{ page_title }}</span>
            </div>
            {% block header %} {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="blue accent-1">
            {% block content %} {% endblock %}
        </div>
    </div>
    <footer class="page-footer blue darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="blue-text text-accent-1 strong">Other Information</h5>
                    <p class="blue-text text-accent-1">This is my third project, and I am hoping to complete this in two weeks.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="blue-text text-accent-1 strong">Links</h5>
                    <ul>
                        <li><a class="blue-text text-accent-1" href="https://github.com/jjackson19862017">My GitHub</a></li>
                        <li><a class="blue-text text-accent-1" href="https://github.com/jjackson19862017/Milestone4_Recipes">Recipes Repo</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020, your more than welcome to view my REPO.
            </div>
        </div>
    </footer>

    <!--    Import jQuery before materialize.js     -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--    Compiled and minified JavaScript        -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!--    Document Ready Script   -->
    <script type="text/javascript">
        $(document).ready(function() {
            $(".button-collapse").sideNav();
            $('select').material_select();
            $('input#input_text, textarea#textarea1').characterCounter();
            $(".dropdown-trigger").dropdown();
        });
    </script>
</body>

</html>