{% extends 'base.html' %} {% block header %}
<!--    Header Text     -->
<div class="card blue darken-4 no_margin">
    <div class="card-content white-text">
        <p>Here is all our recipe, added by users.</p>
        <br>
        <p>Don't forget you can also contribute to this collection as well by clicking on ADD RECIPE.</p>
    </div>
    <div class="card-action">
        <a href="#" class="blue-text text-accent-1">Search Recipes</a>
        <a href="{{ url_for('add_recipe') }}" class="blue-text text-accent-1">Add Recipe</a>
    </div>
</div>

{% endblock %} {% block content %}
<!-- Creates the Card for each Recipe Item in the Collection -->

<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <h2 class="header rnd_blue_title_card">{{ recipe.recipe_name.upper() }}</h2>
            <div class="card large">
                <div class="card-image">
                    <img src="{{ recipe.recipe_image }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ recipe.description }}</p>
                        <p>This is a {{ recipe.meal_type.capitalize() }} recipe.</p>
                        <p>This is an {{ recipe.difficulty.capitalize() }} recipe to make.</p>
                        <p>Healthy: {{ recipe.healthy.capitalize() }}</p>
                        <p>Serves: {{ recipe.serves }}</p>
                        <p>This will take {{ recipe.prep_time }} minutes to prep.</p>
                        <p>This will take {{ recipe.cooking_time }} minutes to cook.</p>
                        <textarea>Ingredients: {{ recipe.ingredients }}</textarea>
                        <textarea>Method: {{ recipe.method }}</textarea>
                        <p>Notes: {{ recipe.notes }}</p>
                        <p>Author: {{ recipe.author.capitalize() }}</p>
                        <p>Views: {{ recipe.views }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}">EDIT RECIPE</a>
                        <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}">REMOVE RECIPE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>{% endblock %}