{% extends 'base.html' %} {% block header %}
<!--    Header Text     -->
<div class="card blue darken-4 no_margin">
    <div class="card-content white-text">
        <p>Here is all our recipe, added by users.</p>
        <br>
        <p>Don't forget you can also contribute to this collection as well by clicking on ADD RECIPE.</p>
    </div>
    <div class="card-action">
        <a href="#" class="blue-text text-accent-1">Search Recipes</a>
        <a href="{{ url_for('add_recipe') }}" class="blue-text text-accent-1">Add Recipe</a>
    </div>
</div>

{% endblock %} {% block content %}
<!-- Creates the Card for each Recipe Item in the Collection -->


<div class="container">

    <h4 class="rnd_blue_title_card">{{ recipe.recipe_name.upper()}}</h4>

    <div class="row">
        <div class="col s12 m5">
            <h4 class="rnd_blue_title_card">Serves: {{recipe.serves}}</h4>
            <img class="img_details" src="{{recipe.recipe_image}}">

        </div>
        <div class="col s12 m7">
            <h4 class="rnd_blue_title_card">Description</h4>
            <span>{{recipe.description}}</span>
            <p class="rnd_blue_title_card">Difficulty: {{recipe.difficulty}}</p>
            <p class="rnd_blue_title_card">Preperation Time: {{recipe.prep_time}} minutes</p>
            <p class="rnd_blue_title_card">Cooking Time: {{recipe.cooking_time}} minutes</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <h4 class="rnd_blue_title_card">Ingredients</h4>
            <textarea class="details_textbox_field">{{recipe.ingredients}}</textarea>
        </div>
        <div class="col s12 m6">
            <h4 class="rnd_blue_title_card">Method</h4>
            <textarea class="details_textbox_field">{{recipe.method}}</textarea>
        </div>
    </div>
    <div>
        <p class="rnd_blue_title_card">Submitted by {{recipe.author}}</p>
    </div>


</div>

<div class="card-action">
    <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}">EDIT RECIPE</a>
    <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}">REMOVE RECIPE</a>
</div>
</div>{% endblock %}