{% extends 'base.html' %} {% block content %}
<div class="card-content">
    <p>Here is all our recipe, added by users. Don't forget you can also contribute to this collection as well by clicking on ADD RECIPE.</p>
</div>
</div>
</div>
</div>

{% for recipe in recipes %}
<p>{{ recipe.recipe_name }}</p>
<p> {{ recipe.author }}</p>
<p>{{ recipe.meal_type }}</p>
<p>{{ recipe.difficulty }}</p>
<p>{{ recipe.prep_time }}</p>
<p>{{ recipe.cooking_time }}</p>
<p>{{ recipe.description }}</p>
<p>{{ recipe.notes }}</p>
<p>{{ recipe.ingredients }}</p>
<p>{{ recipe.method }}</p>
<p>{{ recipe.email }}</p> {% endfor %} {% endblock %}